<div>
  <%= review.reviewer.full_name %> said
  <p>
    <%= simple_format review.comment %>
  </p>
  <em><%= time_ago_in_words review.created_at %> ago</em>
  <p>
    <%= link_to 'Delete', book_review_path(review.book, review), method: :delete %>
  </p>
</div>
<br>
